*{
    padding: 0px;
    margin: 0px;
    border: none;
    color: whitesmoke;
    background-color: #131313;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 500ms;
}

body::-webkit-scrollbar{
    border-radius: 5px;
    width: 10px;
    background-color: rgb(45, 44, 44);
}

.section1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.section1 .header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:25px;
    margin-right: 70px;
    margin-bottom: 50px;
    /* background: linear-gradient(to bottom, black,  #131313); */
}

.section1 .header1{
    display: none;
}

.section1 .header center h2{
    margin-right: -75px;
}

.section1 .header img{
    width: 200px;
    height: 20px;
    object-fit: cover;
    margin-bottom: 50px;
    /* margin-top: 50px; */
    /* padding-top: 50px; */
}

.section1 .header button{
    position: absolute;
    top:  -5px;
    right: 10px;
    font-size: 10px;
    border: solid white 1px;
    padding: 10px;
    border-radius: 30px;
}

.section1 .header i{
    display: none;
}

.section1 .bodyclass .overtop{
    position: relative;
    z-index: 0;
    /* display: flex;
    align-items: center; */
}

.section1 .bodyclass .overtop .blurys{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.section1 .bodyclass .overtop .blurys .one{
    width: 200px;
    /* height: 100px; */
    box-shadow: 0px 0px 5000px 50px rgba(255, 77, 0, 0.37);
    background: transparent;
    border: none;
}
.section1 .bodyclass .overtop .blurys .two{
    width: 200px;
    /* height: 100px; */
    box-shadow: 0px 0px 5000px 50px rgba(154, 21, 206, 0.493);
    background: transparent;
    border: none;

}
.section1 .bodyclass .overtop .blurys .three{
    width: 200px;
    /* height: 100px; */
    box-shadow: 0px 0px 5000px 50px rgba(30, 143, 255, 0.306);
    background: transparent;
    border: none;

}
.section1 .bodyclass .overtop .blurys .four{
    width: 200px;
    /* height: 100px; */
    box-shadow: 0px 0px 5000px 50px  rgba(7, 169, 145, 0.304);
    background: transparent;
    border: none;
}


.section1 .bodyclass h1{
    position: absolute;
    top: -100px;
    left: 150px;
    font-size: 40px;
    width: 80%;
    height: 150px;
     background: transparent;
     margin-left: -30px;
     /* margin-top: 55px; */
}

.section1 .bodyclass .card1 {
    margin-top: 100px;
    background: linear-gradient(to top right, rgb(62, 0, 128),  rgb(182, 21, 206));
    width: 45%;
    padding: 30px;
    height: 230px;
    border-radius: 18px;
    z-index: 2;
}



.section1 .bodyclass .card1  h2{
    background: transparent;
    background: transparent;
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 8px;
}

.section1 .bodyclass .card1  h2 b{
    background: transparent;
    background: transparent;
    font-weight: bolder;
}

.section1 .bodyclass .card1 button {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 18px;
    width: 60%;
    border-radius: 300px;
    box-shadow: 0px 0px 15px #1212128f;
}

.section1 .bodyclass .card1 button:hover{
    color: #121212;
    background-color: white;
}

.section1 .bodyclass .card1 span{
    background: transparent;
    line-height: 40px;
}

.section1 .bodyclass .card1  a{
    background: transparent;
    color: rgba(255, 255, 255, 0.724);

}

.section1 .bodyclass .card2 {
    background: linear-gradient(to top right, rgb(250, 81, 2), rgb(243, 158, 2));
    width: 45%;
    padding: 30px;
    border-radius: 18px;
    margin-top: 50px;
    height: 380px;
}

.section1 .bodyclass .card2 h2{
    background: transparent;
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 8px;
}

.section1 .bodyclass .card2 h2 b{
    background: transparent;
    font-weight: bolder;
}

.section1 .bodyclass .card2 button{
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 18px;
    width: 60%;
    border-radius: 300px;
    box-shadow: 0px 0px 15px #1212128f;
}

.section1 .bodyclass .card2 button:hover{
    color: #121212;
    background-color: white;
}


.section1 .bodyclass .card2 .price{
    margin-top: -17px;
    background: transparent;
}

.section1 .bodyclass .card2 span{
    background: transparent;
    line-height: 40px;
}

.section1 .bodyclass .card2 a{
    background: transparent;
    color: rgba(255, 255, 255, 0.724);
}

.section1 .bodyclass .card3{
    background: linear-gradient(to top right, rgba(154, 21, 206, 0.797), dodgerblue, rgb(7, 169, 145) );
    width: 45%;
    padding: 30px;
    border-radius: 18px;
    margin-top: 50px;
    height: 340px;
}

.section1 .bodyclass .card3 h2{
    background: transparent;
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 8px;
}

.section1 .bodyclass .card3 b{
    background: transparent;
    font-weight: bolder;
}

.section1 .bodyclass .card3 button{
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 18px;
    width: 60%;
    border-radius: 300px;
    box-shadow: 0px 0px 15px #1212128f;
}

.section1 .bodyclass .card3 button:hover{
    color: #121212;
    background-color: white;
}

.section1 .bodyclass .card3 .price{
    margin-top: -17px;
    background: transparent;
}

.section1 .bodyclass .card3 span{
    background: transparent;
    line-height: 40px;
}

.section1 .bodyclass .card3 a{
    background: transparent;
    color: rgba(255, 255, 255, 0.724);
}

.section1 .footer{
    margin-top: 20px;
    border: solid rgba(255, 255, 255, 0.58) 1px;
    width: 45%;
    padding: 10px 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.section1 .footer button{
    position: absolute;
    right: 10px;
    padding: 5px 15px;
    font-size: 12px;
    border-radius: 25px;
    background: linear-gradient(to top right, rgba(154, 21, 206, 0.911), dodgerblue, rgb(7, 169, 145) );
}

.section2{
    margin-top: 90px;
}

.section2 center{
    color: gray;
}

.section2 center h1{
    margin-bottom: 25px;
    font-size: 45px;
}

.section2 center h2{
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 35px;
}

.section2 img{
    width: 600px;
    object-fit: cover;
    margin-left: -180px;
    margin-top: 20px;
}

.section2 center button{
    margin: 40px;
    background-color: white;
    color: #121212;
    padding: 16px 30px;
    border-radius: 300px;
}

.section3 center{
    margin-top: 50px;
    color: gray;
}

.section3 center h2{
    margin-bottom: 10px;
    font-size: 35px;
}

.section3 center button{
    margin: 40px;
    background-color: white;
    color: #121212;
    padding: 16px 30px;
    border-radius: 300px;
}

.section3 .designedpanel img{
    margin-top: 30px;
    width: 100%;
    object-fit: cover;
    height: 300px;
}

.section4 center{
    margin-top: 50px;
    color: gray;
}

.section4 center  h1{
    margin-bottom: 20px;
    font-size: 45px;
}

.section4 center .row{
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 300px;
    overflow-x: scroll;
    margin-top: 50px;
}

.section4 center .row::-webkit-scrollbar{
    width: 1px;
}


.section4 center .row .album{
    width: 230px;
    height: 250px;
    background-color: white;
    border-radius: 5px;
    background: transparent;
    margin: 0px 25px;
    position: relative;
}

.section4 center .row .album img{
    width: 230px;
    height: 230px;
    border-radius: 4px;
}

.section4 center .row .album .float{
    position: absolute;
    bottom: 25px;
    left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 1px;
}

 .section4 center .row .album i{
     background: transparent;  
     font-size: 20px;
    color:black;
    border-radius: 2000px; 
    margin-left: 2px;
    margin-top: 1px;
}





.section4 center .row .album .write{
    color: gray;
}

.section4 center button{
    margin: 0 40px;
    background-color: white;
    color: #121212;
    padding: 16px 30px;
    border-radius: 300px;
    margin-bottom: 150px;
}



.section5 center{
    margin-top: 50px;
    width: 50%;
}

.section5 .header{
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.section5 .header .line{
    width: 60%;
    border: solid 1px rgba(128, 128, 128, 0);
    background-color: gray;
    background: linear-gradient(to right, #131313, gray, #131313);
    border: solid 1px linear-gradient(to right, #131313, gray, #131313);
}

.section5 .header  .What{
    width: 200px;
    height: 30px;
    padding: 0px 5px;
    position: absolute;
    top: -10px;
    background-color:  #131313;
}

.section5 .bodycomponents{
    color: gray;
}

.section5 .bodycomponents h1{
    margin-bottom: 20px;
    font-size: 45px;
}

.section5 .bodycomponents img{
    margin-top: 10px;
    width: 65%;
    object-fit: cover;
}

.section5 .bodycomponents button{
    margin: 40px;
    background-color: white;
    color: #121212;
    padding: 16px 30px;
    border-radius: 300px;
}

.section6 {
    margin-top: 50px;
    width: 50%;
}

.section6 center h1{
    margin-bottom: 40px;
    font-size: 45px;
}

.section6 center .bodycomponents{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section6 center .bodycomponents .row{
    display: flex;
    justify-content: space-between;
}

.section6 center .bodycomponents .row .left{
    text-align: left;
    margin: 10px 0px;
    line-height: 25px;
}
.section6 center .bodycomponents .row .right{
    text-align: left;
    margin: 11px 0px;
    line-height: 25px;
}

.section6 center .bodycomponents .row .left h2{
    font-size: 35px;
    margin-bottom: 10px;
}

.wrpbrd{
    margin-top: 20px;
    border-bottom: solid rgba(128, 128, 128, 0.107) 1px;
}
.section7{
    padding: 90px;
    width: 50%;
    font-size: 13px;
    line-height: 22px;
    color: gray;
    text-align: left;
}

.section8{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section8 .top {
    padding: 70px;
    display: flex;
    justify-content: center;
}

.section8 .top .apple {
    background-color: black;
    width: 120px;
    border: solid white 1px;
    padding: 6px 5px;
    border-radius: 8px;
    margin: 0 2px;
    display: flex;
    justify-content: space-between;
    margin-right: 6px;
    align-items: center;
}

.section8 .top .apple i{
    font-size: 30px;
    background: transparent;
}


.section8 .top .apple .write{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    background: transparent;
}

.section8 .top .apple .write .one{
    font-size: 12px;
    background: transparent;

}
.section8 .top .apple .write .two{
    background: transparent;

}




.section8 .top .google {
    background-color: black;
    width: 120px;
    border: solid white 1px;
    padding: 6px 5px;
    border-radius: 8px;
    margin: 0 2px;
    display: flex;
    justify-content: space-between;
    margin-left: 6px;
    align-items: center;
}

.section8 .top .google i{
    font-size: 30px;
    background: transparent;
}

.section8 .top .google .write{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    background: transparent;
}

.section8 .top .google .write .one{
    font-size: 12px;
    background: transparent;
}

.section8 .top .google .write .two{
    background: transparent;

}


.section8 .middle {
    margin: 0px 130px;
    display: flex;
    justify-content: space-between;
}

.section8 .middle_2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}

.section8 .middle_2 .row{
    display: flex;
    justify-content: center;
    
}


.section8 .middle_2 .row .column{
    text-align: left;
    line-height: 35px;
    color: gray;
    
}


.section8 .middle_2 .row:nth-child(1) .column:nth-child(1){
    margin-right: 80px;
    text-align: left;
    margin-left: -40px;
}

.section8 .middle_2 .row:nth-child(1) .column:nth-child(2){
    margin-left: 100px;
    margin-right: -80px;

}
.section8 .middle_2 .row:nth-child(2) .column:nth-child(1){
    width: 50%;
    margin-left: 165px;
}

.section8 .middle_2 .row:nth-child(2) .column:nth-child(2){
    width: 50%;     
    margin-left: 60px;

}

.section8 .middle  .column{
    text-align: left;
    line-height: 35px;
    color: gray;
}

.section8 .middle  .column b{
    line-height: 70px;
}

.section8 .bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 90px;
}

.section8 .left{
    display: flex;
    justify-content: space-between ;
}

.section8 .left i{
    margin-right: 18px;
    font-size: 20px;
}

.section8 .left i:nth-child(1){
    margin-left: 40px;
}

.section8 .mid img{
    width: 300px;
    height: 90px;
    object-fit: cover;
    margin-top: -30px;
}

.section8 .bottom .right{
    display: flex;
    justify-content: space-between;
}

.section8 .bottom .right .ash span{
    color: gray;
    margin-right: 8px;
}

.section8 .bottom .right .white i{
    margin-right: 35px;
}

.section8 .bottom_2{
    display: none;
}

.section8 .middle_3{
    display: none;
}

@media screen and (max-width : 950px) {
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: none;
        padding: none;
        box-sizing: border-box;
        font-size: 15px;
        width: 100%;
    }

    .section1 .header{
        margin-bottom: 70px;
    }

    .section1 .bodyclass .overtop .blurys{
        margin-top: -10px;
    }

    .section1 .bodyclass h1{
        margin-top: 30px;
        font-size: 30px;
        margin-left: -50px;
    }


    .section1 .header button{
        width: 50px;
        font-size: 8px;
    }    

    

    .section1 .bodyclass .card1{
        margin-top: 70px;

        margin-top: 70px;

    background: linear-gradient(to top right, rgb(62, 0, 128),  rgb(182, 21, 206));
    width: 55%;
    padding: 30px;
    height: 230px;
    border-radius: 18px;
    z-index: 2;
    }

    .section1 .bodyclass .card2{
        background: linear-gradient(to top right, rgb(250, 81, 2), rgb(243, 158, 2));
        width: 55%;
        padding: 30px;
        border-radius: 18px;
        margin-top: 50px;
        height: 380px;
    }

    .section1 .bodyclass .card3{
        background: linear-gradient(to top right, rgba(154, 21, 206, 0.797), dodgerblue, rgb(7, 169, 145) );
        width: 55%;
        padding: 30px;
        border-radius: 18px;
        margin-top: 50px;
        height: 345px;
    }

    .section2 center h1{
        margin-top: -40px;
        font-size: 32px;
        margin-bottom: 10px;
    }

    .section2 center h2{
        font-size: 32px;
        margin-bottom: 10px;
    }

    .section2 img{
        width: 500px;
    }

    .section2 button{
        font-size: 12px;
    }
    
    .section3 center h2{
        font-size: 32px;
        margin-top: -40px;
    }

    .section3 img{
        width: 480px;
    }

    .section3 button{
        font-size: 12px;
    }

    .section4 center h1{
        margin-top: -40px;
        font-size: 32px;
        margin-bottom: 10px;
    }

    .section4 center .row{
        display: flex;
        justify-content: space-between;
        width: 800px;
        height: 250px;
        overflow-x: scroll;
        margin-top: 50px;
        margin-bottom: 23px;
    }

    .section4 center .row .album{
        width: 200px;
        height: 200px;
        background-color: white;
        border-radius: 5px;
        background: transparent;
        margin: 0px 25px;
        position: relative;
    }

    .section4 center .row .album img{
        width: 200px;
        height: 200px;
        border-radius: 4px;
    }

    .section4 center .row .album .float{
        position: absolute;
        bottom: 12px;
        left: 10px;
        width: 30px;
        height: 30px;
        border-radius: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding: 1px;
    }

    .section4 center button{
        margin: 0 40px;
        background-color: white;
        color: #121212;
        padding: 16px 30px;
        border-radius: 300px;
        margin-bottom: 150px;
        font-size: 12px;
        margin-top: -15px;
    }

    .section5{
        margin-top: -60px;
    }

    .section5 .header .line{
        width: 60%;
        border: solid 1px rgba(128, 128, 128, 0);
        background-color: gray;
        background: linear-gradient(to right, #131313, gray, #131313);
        border: solid 1px linear-gradient(to right, #131313, gray, #131313);
        /* margin-top: -60px; */
    }
    

    .section5 .header  .What{
        width: 150px;
        height: 30px;
        padding: 0px 5px;
        position: absolute;
        top: -9px;
        background-color:  #131313;
        font-size: 15px;
        /* margin-top: -60px; */
    }

    .section5 .bodycomponents h1{
        margin-bottom: 20px;
        font-size: 32px;
    }

    .section5 .bodycomponents button{
        margin: 40px;
        background-color: white;
        color: #121212;
        padding: 16px 30px;
        border-radius: 300px;
        font-size: 12px;
        margin-top: 12px;
    }

    .section6{
        width: 100%;
    }

    .section6 center h1{
        margin-top: -20px;
        margin-bottom: 40px;
        font-size: 32px;
    }

    .section6 center .bodycomponents .row .left h2{
        font-size: 22px;
        margin-bottom: 10px;
    }

    .section6 center .bodycomponents .row .left{
        font-size: 12px;
    }

    .section7{
        padding: 90px;
        /* width: 50%; */
        font-size: 10px;
        line-height: 22px;
        color: gray;
        text-align: left;
    }

    .wrpbrd{
        margin-top: -20px;
        border-bottom: solid rgba(128, 128, 128, 0.107) 1px;
    }

    .section8 .middle {
        display:none;
        margin: 0px 130px;
        display: flex;
        justify-content: space-between;
                display:none;

    }

    .section8 .middle_2{
        display:contents ;
        font-size:14px ;
    }

    .section8 .mid img{
        width: 160px;
        height: 50px;
        object-fit: cover;
        margin-top: -30px;
        margin-right: 20px;
    }

    .section8 .bottom{
        font-size: 15px;
    }

    .section8 .bottom i{
        font-size: 15px;
    }
}

@media screen and (max-width : 829px){

    
    body{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: none;
          padding: none;
         box-sizing: border-box;
         font-size: 15px;
         width: 100%;
    }
    
   

    .section1 .header{
        margin-bottom: 70px;
    }

    .section1 .bodyclass .overtop .blurys{
        margin-top: -10px;
        width: 60%;
    }

    .section1 .bodyclass h1{
        margin-top: 30px;
        font-size: 25px;
        margin-left: -70px;
    }


    .section1 .header button{
        width: 50px;
        font-size: 8px;
        /* margin-right: -45px; */
    }    

    .section1 .bodyclass .card1{
        margin-top: 70px;

        /* margin-top: 100px; */
    background: linear-gradient(to top right, rgb(62, 0, 128),  rgb(182, 21, 206));
    width: 60%;
    padding: 30px;
    height: 230px;
    border-radius: 18px;
    z-index: 2;
    }

    .section1 .bodyclass .card2{
        background: linear-gradient(to top right, rgb(250, 81, 2), rgb(243, 158, 2));
        width: 60%;
        padding: 30px;
        border-radius: 18px;
        margin-top: 50px;
        height: 380px;
    }

    .section1 .bodyclass .card3{
        background: linear-gradient(to top right, rgba(154, 21, 206, 0.797), dodgerblue, rgb(7, 169, 145) );
        width: 60%;
        padding: 30px;
        border-radius: 18px;
        margin-top: 50px;
        height: 345px;
    }

    .section1 .footer{
        margin-top: 20px; 
        border: solid rgba(255, 255, 255, 0.58) 1px;
        width: 60%;
        padding: 10px 30px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
    }

    .section3 img{
        width: 500px;
        height: 400px;
    }

    .section4 center .row{
        display: flex;
        justify-content: space-between;
        width: 750px;
        height: 270px;
        overflow-x: scroll;
        /* margin-top: 70px;
        margin-bottom: 0px; */
    }

    .section4 center .row .album{
        width: 200px;
        height: 250px;
        background-color: white;
        border-radius: 5px;
        background: transparent;
        margin: 0px 25px;
        position: relative;
    }

    .section4 center .row .album img{
        width: 200px;
        height: 200px;
        border-radius: 4px;
    }

    .section4 center .row .album .float{
        position: absolute;
        bottom: 62px;
        left: 10px;
        width: 30px;
        height: 30px;
        border-radius: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding: 1px;
    }

    .section4 center button{
        /* margin: 0 40px; */
        background-color: white;
        color: #121212;
        padding: 16px 30px;
        border-radius: 300px;
        /* margin-bottom: 150px; */
        font-size: 12px;
        margin-top: -45px;
    }

    .section6 center .bodycomponents .row .left{
        text-align: left;
        margin: 10px 0px;
        line-height: 25px;
        font-size: 15px;
    }

    .wrpbrd{
        margin-top: 20px;
        border-bottom: solid rgba(128, 128, 128, 0.107) 1px;
    }
    .section7{
        padding: 50px;
        width: 50%;
        font-size: 13px;
        line-height: 22px;
        color: gray;
        text-align: left;
    }

    .section8 .middle_2{
        width: 50%;
    }

    .section8 .middle_2 .row2 {
        text-align: left;
        line-height: 35px;
        color: gray;
        display: flex;
        justify-content: center;
        /* width: 300px; */
    }

    .section8 .middle_2 .row:nth-child(1) .column:nth-child(1){
        margin-right: 80px;
        /* text-align: left; */
        margin-left: -140px;
    }
    
    .section8 .middle_2 .row:nth-child(1) .column:nth-child(2){
        margin-left: 20px;
        /* margin-right: -80px; */
    
    }

    .section8 .middle_2 .row2:nth-child(2) .column:nth-child(1){
        /* width: 30%; */
        /* margin-left: 5px; */
        /* margin-right: 40px; */
        color: gray;
    }
    
    .section8 .middle_2 .row2:nth-child(2) .column:nth-child(2){
        /* width: 20%;      */
        /* margin-left: 2px; */
        color: gray;

    }


}

@media screen and (max-width : 580px){
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: none;
        padding: 15px;
        box-sizing: border-box;
        font-size: 15px;
        width: 100%;
    }

    .section1 .header{
        margin-bottom: 70px;
    }

    .section1 .bodyclass .overtop .blurys{
        margin-top: -10px;
        width: 75%;
    }

    .section1 .bodyclass h1{
        margin-top: 30px;
        font-size: 25px;
        margin-left: -90px;
    }


    .section1 .header button{
        width: 50px;
        font-size: 8px;
        margin-right: -45px;
    }    

    .section1 .bodyclass .card1{
        margin-top: 70px;

        /* margin-top: 100px; */
    background: linear-gradient(to top right, rgb(62, 0, 128),  rgb(182, 21, 206));
    width: 75%;
    padding: 30px;
    height: 230px;
    border-radius: 18px;
    z-index: 2;
    }

    .section1 .bodyclass .card2{
        background: linear-gradient(to top right, rgb(250, 81, 2), rgb(243, 158, 2));
        width: 75%;
        padding: 30px;
        border-radius: 18px;
        margin-top: 50px;
        height: 380px;
    }

    .section1 .bodyclass .card3{
        background: linear-gradient(to top right, rgba(154, 21, 206, 0.797), dodgerblue, rgb(7, 169, 145) );
        width: 75%;
        padding: 30px;
        border-radius: 18px;
        margin-top: 50px;
        height: 345px;
    }

    .section1 .footer{
        margin-top: 20px;
        border: solid rgba(255, 255, 255, 0.58) 1px;
        width: 75%;
        padding: 10px 30px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
    }

    .section2 center h1{
        margin-top: -40px;
        font-size: 25px;
        margin-bottom: 10px;
    }

    .section2 center h2{
        font-size: 22px;
        margin-bottom: 10px;
    }

    .section2 img{
        width: 500px;
    }

    .section2 button{
        font-size: 12px;
    }
    
    .section3 center h2{
        font-size: 22px;
        margin-top: -40px;
    }

    .section3 img{
        width: 300px;
        height: 200px;
    }

    .section3 button{
        font-size: 12px;
    }

    .section4 center h1{
        margin-top: -40px;
        font-size: 25px;
        margin-bottom: 10px;
    }

    .section4 center .row{
        display: flex;
        justify-content: space-between;
        width: 450px;
        height: 270px;
        overflow-x: scroll;
        /* margin-top: 70px;
        margin-bottom: 0px; */
    }

    .section4 center .row .album{
        width: 200px;
        height: 250px;
        background-color: white;
        border-radius: 5px;
        background: transparent;
        margin: 0px 25px;
        position: relative;
    }

    .section4 center .row .album img{
        width: 200px;
        height: 200px;
        border-radius: 4px;
    }

    .section4 center .row .album .float{
        position: absolute;
        bottom: 62px;
        left: 10px;
        width: 30px;
        height: 30px;
        border-radius: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding: 1px;
    }

    .section4 center button{
        /* margin: 0 40px; */
        background-color: white;
        color: #121212;
        padding: 16px 30px;
        border-radius: 300px;
        /* margin-bottom: 150px; */
        font-size: 12px;
        margin-top: -45px;
    }

    .section5{
        margin-top: -60px;
    }

    .section5 .header .line{
        width: 60%;
        border: solid 1px rgba(128, 128, 128, 0);
        background-color: gray;
        background: linear-gradient(to right, #131313, gray, #131313);
        border: solid 1px linear-gradient(to right, #131313, gray, #131313);
        /* margin-top: -60px; */
    }
    

    .section5 .header  .What{
        width: 150px;
        height: 30px;
        padding: 0px 5px;
        position: absolute;
        top: -9px;
        background-color:  #131313;
        font-size: 15px;
        /* margin-top: -60px; */
    }

    .section5 .bodycomponents h1{
        margin-bottom: 20px;
        font-size: 25px;
        margin-top: -15px;
    }

    .section5 .bodycomponents img{
        width: 95%;
    }

    .section5 .bodycomponents button{
        margin: 40px;
        background-color: white;
        color: #121212;
        padding: 16px 30px;
        border-radius: 300px;
        font-size: 12px;
        margin-top: 12px;
    }

    .section6{
        width: 100%;
    }

    .section6 center h1{
        margin-top: -20px;
        margin-bottom: 40px;
        font-size: 25px;
    }

    .section6 center .bodycomponents .row .left h2{
        font-size: 22px;
        margin-bottom: 10px;
    }

    .section6 center .bodycomponents .row .left{
        font-size: 12px;
    }

    .section7{
        padding: 40px;
        /* width: 50%; */
        font-size: 10px;
        line-height: 22px;
        color: gray;
        text-align: left;
    }

    .wrpbrd{
        margin-top: -20px;
        border-bottom: solid rgba(128, 128, 128, 0.107) 1px;
    }

    .section8 .middle {
        display:none;
        margin: 0px 130px;
        display: flex;
        justify-content: space-between;
                display:none;

    }

    .section8 .middle_2{
        display:contents ;
        font-size:14px ;
    }

    .section8 .mid img{
        width: 160px;
        height: 50px;
        object-fit: cover;
        margin-top: -30px;
        margin-right: 20px;
    }

    .section8 .bottom{
        font-size: 15px;
    }

    .section8 .bottom i{
        font-size: 15px;
    }
    
    .section8 .top {
        padding: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .section8 .top .apple {
        background-color: black;
        width: 120px;
        border: solid white 1px;
        padding: 6px 5px;
        border-radius: 8px;
        /* margin: 0 2px; */
        display: flex;
        justify-content: space-between;
        margin-left: 8px;
        align-items: center;
        margin-bottom: 10px;
        margin-top: -20px;
    }

    .section8 .top .google {
        background-color: black;
        width: 125px;
        border: solid white 1px;
        padding: 6px 5px;
        border-radius: 8px;
        /* margin: 0 2px; */
        display: flex;
        justify-content: space-between;
        /* margin-right: 6px; */
        align-items: center;
    }

    .section8 .middle_2 .row{
        display: flex;
        justify-content: center;
        
    }
    
    
    .section8 .middle_2 .row .column{
        text-align: left;
        line-height: 35px;
        color: gray;
        
    }

    .section8 .middle_2 .row2 {
        text-align: left;
        line-height: 35px;
        color: gray;
        display: flex;
        justify-content: center;
        
    }

    .section8 .middle_2 .row:nth-child(1) .column:nth-child(1){
        margin-right: 80px;
        /* text-align: left; */
        margin-left: -140px;
    }
    
    .section8 .middle_2 .row:nth-child(1) .column:nth-child(2){
        margin-left: 20px;
        /* margin-right: -80px; */
    
    }

    .section8 .middle_2 .row2:nth-child(2) .column:nth-child(1){
        width: 50%;
        margin-left: -10px;
        margin-right: 40px;
        color: gray;
    }
    
    .section8 .middle_2 .row2:nth-child(2) .column:nth-child(2){
        width: 50%;     
        margin-left: 50px;
        color: gray;

    }

    .section8 .bottom_2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section8 .left{
        display: flex;
        justify-content: space-between ;
    }
    
    .section8 .left i{
        margin-right: 18px;
        font-size: 20px;
    }
    
    .section8 .left i:nth-child(1){
        margin-left: 40px;
    }
    
    .section8 .mid img{
        width: 150px;
        height: 30px;
        object-fit: cover;
        margin-top: 30px;
        margin-bottom: 20px;
        margin-right: 0px;

    }
    
    .section8 .bottom_2 .right{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

    }
    
    .section8 .bottom_2 .right .ash span{
        color: gray;
        /* margin-right: 8px; */
        margin-bottom: 20px;
    }

    .section8 .bottom_2 .left{
        margin-bottom: 30px;
        margin-left: -30px;
    }
    
    .section8 .bottom_2 .right .white i{
        /* margin-right: 5px; */
        font-size: 12px;
        margin-bottom: 50px;

    }

    .section8 .bottom{
        display: none;
    }
}

@media screen and (max-width : 527px){
    *{
        margin: 0;
        padding: 0;
    }

    .section1 .header{
        display: none;
    }
    .section1 .header1{
        display: contents;
        /* background-color: white; */
        width: 100%;
        height: 30px;
        display: flex;
        justify-content:space-between;
        align-items: center;
        position: relative;
        margin-bottom: 10px;
    }

    .section1 .header1 img{
        height: 25px;
        width: 120px;
        object-fit: cover;
        margin-left: 100px;
        z-index: 20px;
        }

    .section1 .header button{
        display: none;
    }

    .section1 .header1 i{
        display: contents;
        font-size: 40px ;
        margin-right: 800px;
        position: absolute;  

        /* top: 2px; 
        right: -100px; */
        /* margin-right: -80px; */
    }

     .section1 .bodyclass .card1  h2{
        background: transparent;
        background: transparent;
        margin-bottom: 20px;
        font-size: 27px;
        font-weight: 2px;
    }

    .section1 .bodyclass .overtop{
        margin-top: 80px;
    }

    .section1 .bodyclass .overtop .blurys{
        /* margin-top: -10px; */
        width: 100%;
    }

    .section1 .bodyclass .overtop .blurys h1{
        /* margin-top: -120px */
    }

    .section1 .bodyclass .overtop .blurys .one{
        width: 200px;
        /* height: 100px; */
        box-shadow: 0px 0px 5000px 70px rgba(255, 77, 0, 0.274);
        background: transparent;
        border: none;
        z-index: -9;
        margin-top: -20px;
        height: 0px;

    }
    .section1 .bodyclass .overtop .blurys .two{
        width: 200px;
        /* height: 100px; */
        box-shadow: 0px 0px 5000px 70px rgba(154, 21, 206, 0.493);
        background: transparent;
        border: none;
        z-index: -9;
        margin-top: -20px;
        height: 0px;

    }
    .section1 .bodyclass .overtop .blurys .three{
        width: 200px;
        /* height: 100px; */
        box-shadow: 0px 0px 5000px 70px rgba(30, 143, 255, 0.306);
        background: transparent;
        border: none;
        z-index: -9;
        margin-top: -20px;
        height: 0px;

    }
    .section1 .bodyclass .overtop .blurys .four{
        width: 200px;
        /* height: 100px; */
        box-shadow: 0px 0px 5000px 70px  rgba(7, 169, 145, 0.304);
        background: transparent;
        border: none;
        z-index: -9;
        margin-top: -20px;
        height: 0px;
    }

    .section1 .bodyclass h1{
        margin-top: 30px;
        font-size: 25px;
        margin-left: -120px;
    }

    .section1 .bodyclass .card1 button{
        margin-top: 20px;
        margin-bottom: 10px;
        padding: 10px;
        width: 100%;
        border-radius: 300px;
        box-shadow: 0px 0px 15px #1212128f;
    }

    .section1 .bodyclass .card1{
        padding: 25px;
        width: 80%;
        height: 220px;

    }
 
    /*
    .section1 .bodyclass .card1{
        font-size: 15px;
        line-height: 20px;
        height: 230px;
    } */

     .section1 .bodyclass .card2 {
      /*  background: linear-gradient(to top right, rgb(250, 81, 2), rgb(243, 158, 2));
        width: 45%; */
        padding: 25px;
        border-radius: 18px;
        margin-top: 50px;
        height: 380px;
    } 

    .section1 .bodyclass .card2{
        padding: 25px;
        width: 80%;
    }
    
    .section1 .bodyclass .card2 h2{
        background: transparent;
        margin-bottom: 20px;
        font-size: 27px;
        font-weight: 8px;
    }
    
    .section1 .bodyclass .card2 h2 b{
        background: transparent;
        font-weight: bolder;
    }
    
    .section1 .bodyclass .card2 button{
        margin-top: 20px;
        margin-bottom: 10px;
        padding: 10px;
        width: 100%;
        border-radius: 300px;
        box-shadow: 0px 0px 15px #1212128f;
    }
    
    .section1 .bodyclass .card2 button:hover{
        color: #121212;
        background-color: white;
    }
    
    
    .section1 .bodyclass .card2 .price{
        margin-top: -17px;
        background: transparent;
    }
    
    .section1 .bodyclass .card2 span{
        background: transparent;
        line-height: 40px;
    }
    
    .section1 .bodyclass .card2 a{
        background: transparent;
        color: rgba(255, 255, 255, 0.724);
    }

    .section1 .bodyclass .card3{
        padding: 25px;
        width: 80%;
    }

    .section1 .bodyclass .card3 button{
        margin-top: 20px;
        margin-bottom: 10px;
        padding: 10px;
        width: 100%;
        border-radius: 300px;
        box-shadow: 0px 0px 15px #1212128f;
    }

    .section1 .bodyclass .card3{
        height: 340px;
    }

    .section1 .bodyclass .card3 h2{
        background: transparent;
        margin-bottom: 20px;
        font-size: 27px;
        font-weight: 8px;
    }
    
    .section1 .bodyclass .card3 h2 b{
        background: transparent;
        font-weight: bolder;
    }

    .section4 center .row{
        display: flex;
        justify-content: space-between;
        width: 300px;
        height: 300px;
        overflow-x: scroll;
        margin-top: 50px;
        margin-bottom: -40px;
    }

    .section5 .header{
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }
    
    .section5 .header .line{
        width: 100%;
        border: solid 1px rgba(128, 128, 128, 0);
        background-color: gray;
        background: linear-gradient(to right, #131313, rgb(255, 255, 255), #131313);
        border: solid 1px linear-gradient(to right, #131313, rgb(255, 255, 255), #131313);
        height: 0.3px;
    }
    
    .section5 .header  .What{
        width: 100px;
        height: 30px;
        padding: 0px 10px;
        position: absolute;
        top: -8px;
        /* background-color:  #131313; */
        
    }

    .section5 .header  .What b{
        font-size: 15px;
    }

    .section5 img{
        height: 170px;
    }

    .section8 .middle_2{
        display: none;
    }

    .section8 .middle_3{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
    }

    .section8 .middle_3 .row{
        margin-bottom: 10px;
        display: flex;
        justify-self: start;
        text-align: left;
        line-height: 40px;
        
    }

    .section8 .middle_3 .row .column{
        color: gray;
    }

    .section8 .middle_3 .row2{
        margin-bottom: 10px;
        display: flex;
        justify-self: start;
        text-align: left;
        line-height: 40px;
        color: gray;
    }

    .section8 .middle_3 .row2 .column{
        color: gray;
    }

    .section8 .mid img{
        width: 150px;
        height: 30px;
        object-fit: cover;
        margin-top: 30px;
        margin-bottom: 70px;
        margin-right: 0px;

    }
    
    .section8 .bottom_2 .right{
        display: flex;
        justify-content: space-between;
        margin-bottom: 110px;

    }
    
    .section8 .bottom_2 .right .ash span{
        color: gray;
        /* margin-right: 8px; */
        margin-bottom: 20px;
    }

    .section8 .bottom_2 .left{
        margin-bottom: 70px;
        margin-left: -30px;
    }
    
    .section8 .bottom_2 .right .white i{
        /* margin-right: 5px; */
        font-size: 12px;
        margin-bottom: 70px;
    }

}



